Connecting to Oracle Database and running sql Queries

In [3]:
import cx_Oracle as cx_oracle
import sqlalchemy as db
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [4]:
engine = db.create_engine('oracle+cx_oracle://falconcfuser:falconcfuser@sea1a3flcnd01:1533/?service_name=FLCNDEV4')

In [5]:
df = pd.read_sql("SELECT * from CC$LAB_RSLT_VW lr where lr.CC$PANELID='ADEQUACY' and lr.pat_pr_seq_no=4381881", con=engine)

In [7]:
df.head(10)

,cc$panelid,cc$modality,cc$isprimary,cc$disprank,cc$displayongrid,unique_id,nametest,idtl,lab_rslt_alpha,rslt_type_cd,rslt_type_descr,reference_range,uom,has_note,lab_rslt_seq_no,pat_pr_seq_no,collection_date,rpt_date
0,ADEQUACY,HD,1,110,1,236702250,stdKdT/V Dialysis,1830,See Note.,N,Normal,None,,1,236702250,4381881,2010-08-16 10:30:00,2012-11-05 20:34:55
1,ADEQUACY,HD,1,110,1,236702250,stdKdT/V Dialysis,1830,See Note.,N,Normal,None,,1,236702250,4381881,2010-08-16 10:30:00,2012-11-05 20:34:55
2,ADEQUACY,HD,1,110,1,236702251,stdKdT/V Dialysis,1830,See Note.,N,Normal,None,,1,236702251,4381881,2010-08-16 10:30:00,2012-11-05 20:34:55
3,ADEQUACY,HD,1,110,1,236702251,stdKdT/V Dialysis,1830,See Note.,N,Normal,None,,1,236702251,4381881,2010-08-16 10:30:00,2012-11-05 20:34:55
4,ADEQUACY,PD,0,380,1,236702252,AGE OF PATIENT,1710,78,N,Normal,None,YEARS,0,236702252,4381881,2010-08-16 10:30:00,2012-11-05 20:34:55
5,ADEQUACY,PD,0,430,1,236702253,BSA (DUBOIS),1712,See Note.,N,Normal,None,SQ M,1,236702253,4381881,2010-08-16 10:30:00,2012-11-05 20:34:55
6,ADEQUACY,PD,0,430,1,236702254,BSA (DUBOIS),1712,See Note.,N,Normal,None,SQ M,1,236702254,4381881,2010-08-16 10:30:00,2012-11-05 20:34:55
7,ADEQUACY,PD,0,400,1,236702257,HEIGHT (INCHES),1717,68,N,Normal,None,INCHES,0,236702257,4381881,2010-08-16 10:30:00,2012-11-05 20:34:55
8,ADEQUACY,PD,0,440,1,236702267,AMPUTATION FACTOR,1785,0.000,N,Normal,None,None,0,236702267,4381881,2010-08-16 10:30:00,2012-11-05 20:34:55
9,ADEQUACY,ALL,0,250,1,236702275,CURRENT KRU,9205,See Note.,N,Normal,None,ML/MIN,1,236702275,4381881,2010-08-16 10:30:00,2012-11-05 20:34:55

Request a Token Url for the rest apis

In [8]:
import http.client
import mimetypes
import json

In [35]:
environment = "ci.oneviewdps.davita.com"
username = "vcg66103"
password = "Falcon202008"

In [36]:
conn = http.client.HTTPSConnection(environment)
payload = 'username=' + username + '&password=' + password + '%21&grant_type=password&client_id=dps-ui-app'
headers = {
  'Content-Type': 'application/x-www-form-urlencoded'
}
conn.request("POST", "/auth/realms/dps/protocol/openid-connect/token", payload, headers)
res = conn.getresponse()
data = res.read().decode('utf-8')

In [37]:
json_obj = json.loads(data)
access_token = json_obj.get('access_token')
print(access_token)

eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJpc1hCZnRCWFAtTTlQeTJMbFo1QVVlNVhCOGhNMnRuaVNxZmJIblZ6bDl3In0.eyJqdGkiOiJiOTFlZmRlOC02M2VjLTQ0Y2EtOWJjMS1mOGQzZjAwOWNmM2QiLCJleHAiOjE1OTg5MzE2NjAsIm5iZiI6MCwiaWF0IjoxNTk4OTMwNDYwLCJpc3MiOiJodHRwczovL2NpLm9uZXZpZXdkcHMuZGF2aXRhLmNvbS9hdXRoL3JlYWxtcy9kcHMiLCJhdWQiOiJhY2NvdW50Iiwic3ViIjoiNWI1MzJlY2ItYTI2NC00Njk3LWEyOGMtMWY2MmRlYWJjNzljIiwidHlwIjoiQmVhcmVyIiwiYXpwIjoiZHBzLXVpLWFwcCIsImF1dGhfdGltZSI6MCwic2Vzc2lvbl9zdGF0ZSI6IjM4ZTliZDVkLTNmNWEtNGM3My04YjlhLWU0OWZlYTFhOTA2NyIsImFjciI6IjEiLCJhbGxvd2VkLW9yaWdpbnMiOlsiKiJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiIsInVzZXIiXX0sInJlc291cmNlX2FjY2VzcyI6eyJhY2NvdW50Ijp7InJvbGVzIjpbIm1hbmFnZS1hY2NvdW50IiwibWFuYWdlLWFjY291bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJzY29wZSI6InByb2ZpbGUgZW1haWwiLCJhY3RpdmVEaXJlY3RvcnlJZCI6InFhZG9jMDEwIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJOUEkiOiIxNjQ5MjkzNzA1IiwiZUNyZWRFeHBpcmF0aW9uRGF0ZSI6IjEyLzMxLzI5OTkiLCJ1c2VyQ2xpbmljYWxQaHlzaWNpYW5JZCI6IjU2NyIsImFjY2Vzc0NsaW5pY0lkcyI6WyIyMTMwNyIsIjIxMzA2IiwiNjAzNDkiLCI2MTE2MCIsIjIzMDE3IiwiNjIwNDMiXSwicHJlZmVycmVkX3VzZXJuYW1lIjoidmNnNjYxMDMiLCJnaXZlbl9uYW1lIjoiVmljdG9yIiwiZUNyZWRFZmZlY3RpdmVEYXRlIjoiMDEvMDEvMjAwMCIsIm9uZVBoeXNpY2lhbkZsYWciOiJZIiwiY3JlZFR5cGUiOiJQSFlTIiwiYXVkaXRQYXRpZW50RGF0YSI6dHJ1ZSwibWVkRGlyZWN0b3JDbGluaWNJZHMiOlsiNjAzNDkiLCI2MTE2MCIsIjIzMDE3Il0sIm5hbWUiOiJWaWN0b3IgQ2FyYWJlbGxvIiwiY2xpbmljYWxTeXN0ZW1zIjoiU05BUFBZIiwicGFydHlTZXFObyI6IjM0ODEwMDQiLCJiZXRhRmVhdHVyZXNMaXN0IjoiRU5DT1VOVEVSUywgRW5jb3VudGVycywgZW5jb3VudGVycyIsImZhbWlseV9uYW1lIjoiQ2FyYWJlbGxvIiwiY3dvd1VzZXIiOiJOIn0.AsjpxNRIL8vjrq8synpisBD7i2zjrFytJnmNYBvai7iz-jsntGXu-_iaLbGHJevrakrH8xUiEz41-2vVsqO3Zhvt-5KhzKUO6MQx6yggoKQMgK_7C3z2DK4qU789kyEo5U5I4X6tE6ajdLKD86z93Eu_Xk7C0wpxt4NWufmLPCRRiQZs7bKR2QG-XH-GFk8bqoMUiPSVr-rA-NiFSkw8pfPAEKvYMJH3UiwRj9z6E3figUsf6EF6e2jlXVwBfMyuX6IacK4LWjHxgAl8LHhqPIH9bEa9-sFtONmeCM9mN0x_x--B5k2hmkOm8UOkpURfNh9T8q9Kp3kH7cDFl3ZAkA

Capture access_token to be used in requests via the rest api

In [38]:
payload = 'grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Auma-ticket&audience=dps-resource-server'
headers = {
  'Authorization': 'Bearer {token}'.format(token=access_token),
  'Content-Type': 'application/x-www-form-urlencoded'
}
conn.request("POST", "/auth/realms/dps/protocol/openid-connect/token", payload, headers)
res = conn.getresponse()
data = res.read()

In [39]:
json_obj = json.loads(data)
access_token = json_obj.get('access_token')

In [40]:
print(access_token)

eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJpc1hCZnRCWFAtTTlQeTJMbFo1QVVlNVhCOGhNMnRuaVNxZmJIblZ6bDl3In0.eyJqdGkiOiIxMWQzYzU5MS1jODQ3LTQ4ZWEtYWUyOC04YmMzNWJlOWRmY2MiLCJleHAiOjE1OTg5MzE2NjIsIm5iZiI6MCwiaWF0IjoxNTk4OTMwNDYyLCJpc3MiOiJodHRwczovL2NpLm9uZXZpZXdkcHMuZGF2aXRhLmNvbS9hdXRoL3JlYWxtcy9kcHMiLCJhdWQiOiJkcHMtcmVzb3VyY2Utc2VydmVyIiwic3ViIjoiNWI1MzJlY2ItYTI2NC00Njk3LWEyOGMtMWY2MmRlYWJjNzljIiwidHlwIjoiQmVhcmVyIiwiYXpwIjoiZHBzLXVpLWFwcCIsImF1dGhfdGltZSI6MCwic2Vzc2lvbl9zdGF0ZSI6IjM4ZTliZDVkLTNmNWEtNGM3My04YjlhLWU0OWZlYTFhOTA2NyIsImFjciI6IjEiLCJhbGxvd2VkLW9yaWdpbnMiOlsiKiJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiIsInVzZXIiXX0sInJlc291cmNlX2FjY2VzcyI6eyJhY2NvdW50Ijp7InJvbGVzIjpbIm1hbmFnZS1hY2NvdW50IiwibWFuYWdlLWFjY291bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19LCJhdXRob3JpemF0aW9uIjp7InBlcm1pc3Npb25zIjpbeyJyc2lkIjoiYTcxZjMzY2UtZmI1ZS00M2U3LWJiYjctMDhiMGZiY2NlYTYyIiwicnNuYW1lIjoiQ29tbXMtSHViIn0seyJyc2lkIjoiM2VlOWEzZTYtNmUzNy00YzE4LWE1ZmEtOWRiZjdkZGFlNzliIiwicnNuYW1lIjoiQ292ZXJpbmctUmlnaHRzIn0seyJyc2lkIjoiZTU2ZTM1ZDgtMGJmZi00ZGZjLTgxYTUtOWM4MjkxNzAzNTdiIiwicnNuYW1lIjoiRGFzaGJvYXJkIn0seyJyc2lkIjoiZmIxZjlhMjItN2QxMi00Zjk1LWFmNDMtMDg0ZDMzZTljNmY1IiwicnNuYW1lIjoiTWVudS1JdGVtLU5vbi1FU1JEIn0seyJyc2lkIjoiNmNkNTdkMzItOWJmZC00N2Q2LWJkZGUtN2E3MjIzYzRlMjk2IiwicnNuYW1lIjoiTWVudS1JdGVtLVRhc2tzIn0seyJyc2lkIjoiZjU0YWMzM2QtMjUzZi00M2U2LTgwYjMtMGFiNmRlMDU3YWU0IiwicnNuYW1lIjoiTWVkLUNoZWNrIn0seyJyc2lkIjoiYjVkNWI3NGUtN2MwNy00OWI0LWI5ZTUtN2E1Y2UwZDVhZWI5IiwicnNuYW1lIjoiRGVmYXVsdCBSZXNvdXJjZSJ9LHsicnNpZCI6IjRkNDUzZjIzLTBiM2YtNDRjNC04MzcxLTZkMTUyYTRjOGE1YyIsInJzbmFtZSI6Ikludm9pY2UtQXR0ZXN0YXRpb24ifSx7InJzaWQiOiIyYzUzZDM3Ny0zZTkzLTQ3ZjEtOTUyZi00ODliN2Q5YTdhNzEiLCJyc25hbWUiOiJNZW51LUl0ZW0tUGF0aWVudCJ9LHsicnNpZCI6IjE4ZTAxMzEyLTY3MzItNGUyMi05MjJlLWM1NDRlZDY3ZDUzNCIsInJzbmFtZSI6IkVuY291bnRlcnMifSx7InNjb3BlcyI6WyJ2aWV3LXRyZWF0bWVudC1kYXRhLXNjb3BlIiwiZGVmYXVsdC1zY29wZSIsImVuYy1ocC1zZWN0aW9uLXNjb3BlIiwiZW5jb3VudGVycy13b3JrZmxvdy1zY29wZSJdLCJyc2lkIjoiYmUxZjI3MWItZGY2NS00ZjE0LTg4YzEtZDJiY2EyOGIwZTUyIiwicnNuYW1lIjoiUGF0aWVudC1DaGFydCJ9LHsicnNpZCI6ImQzMzdmODRkLTQ3NjktNGIyOC04YWFlLWUzMjhjNmI3ZTViMyIsInJzbmFtZSI6Ik1lbnUtSXRlbS1TZXR0aW5ncyJ9LHsic2NvcGVzIjpbIm9yZGVycy1kaXNwdXRlIl0sInJzaWQiOiJiMjM0M2JjZS03NWNkLTQ2NGItOTIyMy1iMGE1YTJhM2FkNDQiLCJyc25hbWUiOiJPcmRlcnMifSx7InJzaWQiOiI3ZTQ5YzI4Ny1jOTY5LTQ3NWYtYjFiZS00ODI4NTkzM2UzNzYiLCJyc25hbWUiOiJ0ZXN0MSJ9LHsicnNpZCI6IjM1NjJmMTNlLWFmNGMtNDRlYi1iYWNiLWFkZTM5MjU0ZmEwMCIsInJzbmFtZSI6IlByYWN0aWNlIn0seyJzY29wZXMiOlsiYWxsLXBhdGllbnRzLWxpdmUtc2NvcGUiXSwicnNpZCI6IjQ2MTliNWNlLTZiMWItNGZiZi04MjI3LTdiYTQzZjFlNTFhMyIsInJzbmFtZSI6IkRpYWx5c2lzLVNjaGVkdWxlIn0seyJyc2lkIjoiNWQ1ZjQ5NjMtMzRiZS00OGNlLTg4NjYtOGE3YWUxMGQyOGFmIiwicnNuYW1lIjoiUmVwb3J0cyJ9LHsicnNpZCI6ImM4OTBiZjg3LTI2ZTQtNDJkZi05ZDljLTI1YjAxMDM3MzYyYiIsInJzbmFtZSI6Ik1lbnUtSXRlbS1Db21tc0h1YiJ9XX0sInNjb3BlIjoicHJvZmlsZSBlbWFpbCIsImFjdGl2ZURpcmVjdG9yeUlkIjoicWFkb2MwMTAiLCJlbWFpbF92ZXJpZmllZCI6ZmFsc2UsIk5QSSI6IjE2NDkyOTM3MDUiLCJlQ3JlZEV4cGlyYXRpb25EYXRlIjoiMTIvMzEvMjk5OSIsInVzZXJDbGluaWNhbFBoeXNpY2lhbklkIjoiNTY3IiwiYWNjZXNzQ2xpbmljSWRzIjpbIjIxMzA3IiwiMjEzMDYiLCI2MDM0OSIsIjYxMTYwIiwiMjMwMTciLCI2MjA0MyJdLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJ2Y2c2NjEwMyIsImdpdmVuX25hbWUiOiJWaWN0b3IiLCJvbmVQaHlzaWNpYW5GbGFnIjoiWSIsImVDcmVkRWZmZWN0aXZlRGF0ZSI6IjAxLzAxLzIwMDAiLCJjcmVkVHlwZSI6IlBIWVMiLCJtZWREaXJlY3RvckNsaW5pY0lkcyI6WyI2MDM0OSIsIjYxMTYwIiwiMjMwMTciXSwibmFtZSI6IlZpY3RvciBDYXJhYmVsbG8iLCJjbGluaWNhbFN5c3RlbXMiOiJTTkFQUFkiLCJhZGl0UGF0aWVudERhdGEiOnRydWUsInBhcnR5U2VxTm8iOiIzNDgxMDA0IiwiYmV0YUZlYXR1cmVzTGlzdCI6WyJFTkNPVU5URVJTLCBFbmNvdW50ZXJzLCBlbmNvdW50ZXJzIl0sImZhbWlseV9uYW1lIjoiQ2FyYWJlbGxvIiwiY3dvd1VzZXIiOiJOIn0.RvhG0seNqnpXAAI_ra3EMKV8QVuqgDZXcKbZCNhHcUDMjMpM1URX04YB5z3Ow7x0xdEugFB_LHCKY4CWuyGZXjvJuFDFxe_GHwt2lT1eDGmzS7zpVw8yLM8PwmcvwxLlLTca14J6OZifMHuaDssdVj68x0SrU4Xn4Q6rsiONLUarJzQUpHZJ6ntqsH2gYXurdWTNgGebAkPfvCNuMMfd6n_N-Pu7HVaVvFb_HDyVSebIvHVuiO2yvaStaKEakFEuMg99uWdNF3IlOUUxLAkbTqzaX5A6pXEt3kBs247yFol8P4ymn4YeH6xMf7cgA7UinoG74hU0SnhYg5yx2LrCIg

Call Rest API

In [47]:
conn = http.client.HTTPSConnection(environment)

headers = {
  'Authorization': 'Bearer {token}'.format(token=access_token)
}
conn.request("GET", "/api/patients/v1/1786702/care-category-data/ANEMIA?cwowPatient=true&daysBack=360&endDate=2020-08-12", payload, headers)
res = conn.getresponse()
data = res.read()

In [48]:
print(data)

b'[{"panelInfo":{"name":"Shape10","order":"2","panelDataStructure":"CONDITIONAL"},"panelData":[{"conditionalResult":false,"conditionalResultWithinRange":false,"isOnTransitionPeriod":false}]}]'